/*
*
*
* @IMPORT
*
*
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

@import "inc/global/reset";
@import "inc/global/helpers";
@import "inc/global/variables";
@import "inc/global/animations";
@import "inc/global/objectfit";
@import "inc/global/common";

@import "inc/homepage/header";
@import "inc/homepage/banner";
@import "inc/homepage/articles";
@import "inc/homepage/footer";

@import "inc/single/header";




/*
*
*
* BASE
*
*
*/

html {
  box-sizing: border-box;

  font-size: 62.5%;

  cursor: url('../../assets/img/cursorDefault.svg'), default;

  @media screen and(max-width: 30rem) {
    font-size: 50%;
  }
}

*, *:after, *:before {box-sizing: inherit;}







.articles {
  margin: 25rem auto 25rem;

  position: relative;
  z-index: 1;
}

.container {
  max-width: 1440px;
  margin-left: auto; margin-right: auto;
}